<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-card-content>
      <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup"
        (ngSubmit)="loginProcess()">
        <mat-toolbar color="primary">Log In</mat-toolbar>
        <mat-form-field>
          <input matInput placeholder="User Name" name="username" formControlName="username">
          <mat-error>
            Please provide a valid user name
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" formControlName="password">
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

