<div *ngIf="isMenuVisible">
<mat-toolbar color="primary" class="mat-elevation-z8">
    <!-- <button  mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button> -->
    <div class="center-container">
        <span>Meeting Room System</span>
      </div>
    
    <span class="example-spacer"></span>
    
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item>
            <button routerLink="/bookedmeetinglist" mat-button><mat-icon>dashboard</mat-icon>Meetings List</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="/bookednewmeeting" mat-button><mat-icon>home</mat-icon> Add booking</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="" (click)="logOut()" mat-button><mat-icon>home</mat-icon> Log Out </button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">          

            <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>
</mat-drawer-container>
</div>

<div *ngIf="!isMenuVisible">
<router-outlet></router-outlet>
</div>